@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    user-select: none;
}
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: rgb(55, 65, 84);
    /* background: #f1f1f1; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    width: 5px;
}
